body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
    color: #444
}
a img {
    border: none
}
.container {
    width: 320px;
    margin: 0 auto;
    background-color: white;
    box-shadow: -5px -5px 5px #dbdbdb,
        5px 5px 5px #dbdbdb
}
@media (min-width: 768px) {
    .container {
        width: 760px
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1150px
    }
}

.header__contacts {
    color: white;
    background-color: #5ebed6
}

@media (min-width: 768px) {
    .header__contacts {
        display: flex;
        justify-content: space-around;
        align-items: center
    }
}

.header__location {
    text-align: center;
    padding: 10px 0
}

.header__tel {
    text-align: center
}

@media (min-width: 768px) {
    .header__tel {
        display: flex;
        justify-content: space-around;
        align-items: center
    }
}

.header__tel-block {
    margin-bottom: 5px
}

@media (min-width: 768px) {
    .header__tel-block {
        margin-bottom: 0;
        margin-right: 15px
    }
}

.header__social {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center
}

.header__link {
    text-decoration: none;
    margin-right: 30px
}

@media (min-width: 768px) {
    .header__link {
        margin-right: 15px
    }
}

.header__link--last {
    margin-right: 0
}

.header__logo-block {
    text-align: center;
    vertical-align: top;
    padding-top: 20px;
    padding-bottom: 20px
}

.header__logo-name {
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
    font-style: italic
}

.header__btn-block {
    padding-bottom: 20px;
    text-align: center
}

@media (min-width: 768px) {
    .header__btn-block {
        padding-bottom: 0;
        margin-right: 50px
    }
}

@media (min-width: 1200px) {
    .header__btn-block {
        margin-right: 80px
    }
}

.header__btn {
    font-size: 16px;
    line-height: 20px;
    color: black
}

.header__btn:nth-child(1) {
    margin-right: 50px
}

@media (min-width: 1200px) {
    .header__btn:nth-child(1) {
        margin-right: 30px
    }
}

.header__main {
    border-bottom: 1px solid #f0efed
}

@media (min-width: 768px) {
    .header__main {
        display: flex;
        justify-content: space-between;
        align-items: center
    }
}

.header__logo-block {}

@media (min-width: 768px) {
    .header__logo-block {
        margin-left: 50px
    }
}

@media (min-width: 1200px) {
    .header__logo-block {
        margin-left: 80px
    }
}
.slider__description {
    height: 400px;
    color: black;
    background-color: rgba(162, 155, 184, 0.4)
}
@media (min-width: 768px) {
    .slider__description {
        height: 500px;
        background-color: rgba(162, 155, 184, 0)
    }
}
@media (min-width: 1200px) {
    .slider__description {
        height: 600px
    }
}
.slider__slide {
    background-repeat: no-repeat;
    background-size: cover;
    outline: none
}
.slider__first-slide {
    background-image: url("../img/mobil-slider-1.jpg")
}
@media (min-width: 768px) {
    .slider__first-slide {
        background-image: url("../img/tablet-slider-1.jpg")
    }
}
@media (min-width: 1200px) {
    .slider__first-slide {
        background-image: url("../img/desktop-slider-1.jpg")
    }
}
.slider__second-slide {
    background-image: url("../img/mobil-slider-2.jpg")
}
@media (min-width: 768px) {
    .slider__second-slide {
        background-image: url("../img/tablet-slider-2.jpg")
    }
}
@media (min-width: 1200px) {
    .slider__second-slide {
        background-image: url("../img/desktop-slider-2.jpg")
    }
}
.slider__third-slide {
    background-image: url("../img/mobil-slider-3.jpg")
}
@media (min-width: 768px) {
    .slider__third-slide {
        background-image: url("../img/tablet-slider-3.jpg")
    }
}
@media (min-width: 1200px) {
    .slider__third-slide {
        background-image: url("../img/desktop-slider-3.jpg")
    }
}
.slider__h2 {
    margin: 0;
    padding: 0;
    padding-top: 150px;
    padding-left: 40px;
    padding-bottom: 30px;
    font-size: 25px;
    line-height: 30px
}
@media (min-width: 768px) {
    .slider__h2 {
        padding-top: 100px;
        padding-left: 100px;
        padding-bottom: 30px;
        font-size: 30px;
        line-height: 35px
    }
}
@media (min-width: 1200px) {
    .slider__h2 {
        padding-top: 150px;
        padding-left: 170px
    }
}
.slider__text {
    margin: 0;
    padding: 0;
    padding-left: 40px;
    font-size: 17px;
    line-height: 20px
}
@media (min-width: 768px) {
    .slider__text {
        width: 350px;
        padding-left: 100px;
        font-size: 20px;
        line-height: 25px
    }
}
@media (min-width: 1200px) {
    .slider__text {
        padding-left: 170px
    }
}
.slider__second-slide .slider__h2 {
    padding-top: 60px
}
@media (min-width: 768px) {
    .slider__second-slide .slider__h2 {
        padding-top: 80px
    }
}
@media (min-width: 1200px) {
    .slider__second-slide .slider__h2 {
        padding-top: 100px
    }
}
.slider__list {
    padding-left: 50px
}
@media (min-width: 768px) {
    .slider__list {
        padding-left: 120px;
        font-size: 20px;
        line-height: 25px
    }
}
@media (min-width: 1200px) {
    .slider__list {
        padding-left: 190px
    }
}
.slider__list-item {
    padding-bottom: 10px
}
/**/
.other__header {
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 17px
}
@media (min-width: 1200px) {
    .other__header {
        display: flex;
        margin-bottom: 40px
    }
}
.other__price {}
@media (min-width: 1200px) {
    .other__price {
        margin-left: 100px;
        margin-right: 60px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start
    }
}
.other__h2-price {
    font-size: 17px;
    line-height: 20px;
    text-align: center
}
@media (min-width: 1200px) {
    .other__h2-price {
        margin-top: 30px;
        margin-bottom: 100px;
        width: 400px;
        font-size: 22px;
        line-height: 25px
    }
}
.other__h2 {
    font-size: 17px;
    line-height: 20px;
    text-align: center
}
@media (min-width: 1200px) {
    .other__h2 {
        margin-top: 50px;
        margin-bottom: 50px;
        font-size: 22px;
        line-height: 25px
    }
}
.other__slogan {
    text-align: center
}
@media (min-width: 1200px) {
    .other__slogan {
        margin-bottom: 100px;
        font-size: 30px;
        line-height: 30px
    }
}
.other__btn-text {
    text-align: center
}
@media (min-width: 1200px) {
    .other__btn-text {
        font-size: 20px;
        line-height: 24px
    }
}
.other__btn-block {
    text-align: center;
    padding-bottom: 20px
}
.other__btn-text {
    margin-bottom: 30px
}
.other__link {
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ffd801;
    color: black;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase
}
@media (min-width: 1200px) {
    .other__link {
        display: block;
        width: 250px;
        margin-top: 35px;
        margin-left: 60px;
        padding-top: 40px;
        padding-bottom: 40px;
        border-radius: 10px;
        font-size: 20px
    }
}
.other__contact {
    text-align: center;
    padding: 10px
}
@media (min-width: 1200px) {
    .other__contact {
        padding: 0;
        background: url('../img/other-contant.png') top right,
      url('../img/other-tel.png') bottom left;
        background-repeat: no-repeat
    }
}
.other__contact-text {}
@media (min-width: 768px) {
    .other__contact-text {
        font-size: 17px;
        line-height: 20px;
        padding-left: 40px;
        padding-right: 40px
    }
}
@media (min-width: 1200px) {
    .other__contact-text {
        padding-top: 250px;
        padding-left: 160px;
        padding-right: 160px;
        padding-bottom: 50px;
        margin: 0px;
        font-size: 15px;
        line-height: 17px
    }
}
.other__contact-slogan {
    font-weight: 700
}
@media (min-width: 768px) {
    .other__contact-slogan {
        font-size: 20px;
        line-height: 22px
    }
}
.other__contact-footer {}
@media (min-width: 768px) {
    .other__contact-footer {
        padding-left: 40px;
        padding-right: 40px;
        text-align: justify
    }
}
@media (min-width: 1200px) {
    .other__contact-footer {
        padding-left: 140px;
        padding-right: 140px;
        padding-top: 50px
    }
}
.other__footer {
    text-align: center;
    padding: 10px
}
@media (min-width: 1200px) {
    .other__footer {
        background-image: url('../img/other-price.png');
        background-position-x: right;
        background-repeat: no-repeat
    }
}
.other__text-footer {
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify
}
@media (min-width: 1200px) {
    .other__text-footer {
        padding-left: 150px;
        padding-right: 150px;
        margin-top: 20px;
        margin-bottom: 220px
    }
}
.information {}
@media (min-width: 768px) {
    .information {
        display: flex;
        background-color: #6cc;
        justify-content: center
    }
}
@media (min-width: 1200px) {
    .information {
        background-color: white;
        padding-top: 30px
    }
}
.information__block {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white
}
@media (min-width: 768px) {
    .information__block {
        width: 255px
    }
}
@media (min-width: 1200px) {
    .information__block {
        border-radius: 20px 20px 0 0;
        margin-right: 70px
    }
}
.information__time {
    background-color: #69c
}
.information__tel {
    background-color: #fc3
}
.information__mail {
    background-color: #6cc
}
@media (min-width: 1200px) {
    .information__mail {
        margin-right: 0
    }
}
.information__mail .information__text {}
@media (min-width: 768px) {
    .information__mail .information__text {
        font-size: 15px
    }
}
.information__text, .information__type {
    margin: 0;
    padding: 0
}
.information__type {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 20px
}
.information__text {
    font-size: 17px;
    line-height: 20px
}
.advantages__h2 {
    margin: 0;
    padding: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 17px;
    line-height: 20px
}
.advantages__catd {
    text-align: center
}
.advantages__description {
    width: 260px;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px
}
.advantages__block {}
@media (min-width: 768px) {
    .advantages__block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 50px
    }
}
.description {
    padding-bottom: 20px;
    background-color: #adcbef;
    background-image: url("../img/Mobil-service.jpg");
    background-repeat: no-repeat;
    background-size: cover
}
@media (min-width: 768px) {
    .description {
        background-image: url("../img/Tablet-service.jpg");
        padding-left: 250px
    }
}
@media (min-width: 1200px) {
    .description {
        background-image: url("../img/Desktop-service.jpg");
        padding-left: 650px
    }
}
.description__head {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    text-align: center
}
.description__h2 {
    font-size: 20px;
    line-height: 22px;
    text-align: center
}
.description__h3 {
    font-size: 17px;
    line-height: 20px;
    text-align: center
}
.description__footer {
    margin: 0;
    padding-left: 30px;
    font-weight: 700
}
.social-groups {
    padding-bottom: 20px;
    background-color: #fc3;
    text-align: center
}
.social-groups__h3 {
    margin: 0;
    padding: 0;
    width: 300px;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 17px;
    line-height: 20px
}
@media (min-width: 768px) {
    .social-groups__h3 {
        width: auto;
        font-size: 20px;
        line-height: 25px
    }
}
.social-groups__link {
    text-decoration: none;
    margin-right: 20px
}
.social-groups__last {
    margin-right: 0
}
.map__mobile {
    height: 480px
}
@media (min-width: 768px) {
    .map__mobile {
        display: none
    }
}
.map__tablet {
    height: 480px;
    display: none
}
@media (min-width: 768px) {
    .map__tablet {
        display: block
    }
}
@media (min-width: 1200px) {
    .map__tablet {
        display: none
    }
}
.map__desktop {
    height: 550px;
    display: none
}
@media (min-width: 1200px) {
    .map__desktop {
        display: block
    }
}
.partners {
    text-align: center;
    padding-bottom: 20px;
    /*background-color: #6dc4c2;*/
    border-bottom: 1px solid grey
}
.partners__h3 {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px
}
@media (min-width: 768px) {
    .partners__h3 {
        font-size: 25px;
        line-height: 27px
    }
}
.partners__img {
    margin-bottom: 20px;
    margin-right: 20px
}
.partners__mobile-slide {
    padding-left: 35px;
    padding-bottom: 10px;
    outline: none
}
@media (min-width: 768px) {
    .partners__mobile-slide {
        padding-left: 70px;
        padding-bottom: 10px
    }
}
@media (min-width: 1200px) {
    .partners__mobile-slide {}
}
.partners__mf {
    padding-top: 60px;
    padding-left: 30px
}
.partners__mf-text {
    padding-left: 30px
}
.partners__sl {
    padding-top: 40px
}
.contacts {
    padding: 30px
}
@media (min-width: 768px) {
    .contacts {
        display: flex;
        justify-content: flex-end;
        padding-left: 70px;
        padding-right: 40px
    }
}
.contacts__description {}
@media (min-width: 768px) {
    .contacts__description {
        margin-left: 40px
    }
}
@media (min-width: 1200px) {
    .contacts__description {
        margin-right: 50px;
        margin-left: 100px
    }
}
.contacts__cell--head {
    padding-bottom: 10px;
    font-weight: 700;
    text-decoration: underline
}
.contacts__cell--option {
    padding-bottom: 15px;
    padding-left: 20px
}
.contacts__name {
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    font-weight: 700
}
.contacts__text {
    margin: 0;
    padding: 0;
    padding-bottom: 15px;
    padding-left: 20px
}
.footer {
    text-align: center;
    background-color: #66cccc;
    color: white
}
@media (min-width: 768px) {
    .footer {
        display: flex;
        justify-content: flex-end;
        align-items: center
    }
}
.footer__name {
    margin: 0;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 15px
}
@media (min-width: 768px) {
    .footer__name {
        padding-right: 150px
    }
}
@media (min-width: 1200px) {
    .footer__name {
        padding-right: 200px
    }
}
.footer__social {
    padding-bottom: 15px
}
@media (min-width: 768px) {
    .footer__social {
        padding-bottom: 0
    }
}
.footer__link {
    margin-right: 30px;
    text-decoration: none
}
@media (min-width: 768px) {
    .footer__link {
        margin-right: 10px
    }
}
.footer__link--last {
    margin-right: 0
}
@media (min-width: 768px) {
    .footer__link--last {
        margin-right: 50px
    }
}
@media (min-width: 1200px) {
    .footer__link--last {
        margin-right: 180px
    }
}
