.contacts {
  padding: 30px;

  @media (--tablet-widths) {
    display: flex;
    justify-content: flex-end;

    padding-left: 70px;
    padding-right: 40px;
  }
}

.contacts__description {
  @media (--tablet-widths) {
    margin-left: 40px;
  }

  @media (--desktop-widths) {
    margin-right: 50px;
    margin-left: 100px;
  }
}

.contacts__cell--head {
  padding-bottom: 10px;

  font-weight: 700;
  text-decoration: underline;
}

.contacts__cell--option {
  padding-bottom: 15px;
  padding-left: 20px;
}

.contacts__name {
  @mixin margin-reset;
  padding-bottom: 10px;
  font-weight: 700;
}

.contacts__text {
  @mixin margin-reset;
  padding-bottom: 15px;
  padding-left: 20px;
}
